<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>statuses</key>
	<array>
		<dict>
			<key>attitudes_count</key>
			<integer>1</integer>
			<key>comments_count</key>
			<integer>2</integer>
			<key>created_at</key>
			<string>10分钟前</string>
			<key>idstr</key>
			<string>3829735409151190</string>
			<key>pic_urls</key>
			<array>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww4.sinaimg.cn/thumbnail/c5131475jw1eqzbty0sikj20fa09uwf5.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww4.sinaimg.cn/thumbnail/c5131475jw1eqzc0536vdj20go09eq3l.jpg</string>
				</dict>
			</array>
			<key>reposts_count</key>
			<integer>4</integer>
			<key>source</key>
			<string>来自微博 weibo.com</string>
			<key>text</key>
			<string>#慕课网#【GO语言第一课】《GO并发编程实战》作者郝林又一GO语言步道佳作——《GO语言第一课》将在GopherChina 2015大会之日正式上线！在课程中，郝林老师将直奔主题地指导你打好GO语言的基础关，在线视频与实战练习题紧密配合，让你零基础入门GO语言，为你进阶之路添砖加瓦。伙伴们，尽情期待咯！[耶]</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>3306361973</string>
				<key>mbrank</key>
				<integer>0</integer>
				<key>mbtype</key>
				<integer>0</integer>
				<key>name</key>
				<string>慕课网</string>
				<key>profile_image_url</key>
				<string>http://tp2.sinaimg.cn/3306361973/50/22875318196/0</string>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>1</integer>
			<key>comments_count</key>
			<integer>1</integer>
			<key>created_at</key>
			<string>13分钟前</string>
			<key>idstr</key>
			<string>3829734650142976</string>
			<key>pic_urls</key>
			<array/>
			<key>reposts_count</key>
			<integer>0</integer>
			<key>retweeted_status</key>
			<dict>
				<key>attitudes_count</key>
				<integer>1</integer>
				<key>comments_count</key>
				<integer>2</integer>
				<key>created_at</key>
				<string>34分钟前</string>
				<key>idstr</key>
				<string>3829729390040739</string>
				<key>pic_urls</key>
				<array>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww4.sinaimg.cn/thumbnail/005KSAn0gw1eqzbg8yd0wj30sg0fawia.jpg</string>
					</dict>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww4.sinaimg.cn/thumbnail/005KSAn0gw1eqzbg9vuioj30sg0p9whf.jpg</string>
					</dict>
				</array>
				<key>reposts_count</key>
				<integer>1</integer>
				<key>source</key>
				<string>来自专业版微博</string>
				<key>text</key>
				<string>#插件推送#CustomStatusBar：给你简约的状态栏 【售价：免费】：今天推荐的插件是：CustomStatusBar。它可以将状态栏一些图标隐藏，使你的状态栏更简洁。只需在设置中将你不想显示的图标隐藏，再点一下页面中的respringing，就给你一个简洁的状态栏。详细：http://t.cn/RAiBvrd http://t.cn/RAiBAp5</string>
				<key>user</key>
				<dict>
					<key>idstr</key>
					<string>5273385138</string>
					<key>mbrank</key>
					<integer>1</integer>
					<key>mbtype</key>
					<integer>11</integer>
					<key>name</key>
					<string>原创精品源</string>
					<key>profile_image_url</key>
					<string>http://tp3.sinaimg.cn/5273385138/50/5718207124/0</string>
				</dict>
			</dict>
			<key>source</key>
			<string>来自MiaoForOSX</string>
			<key>text</key>
			<string>支持状态栏模块的隐藏和调整～ 实用的iOS小插件何乐不为呢？谢谢@原创精品源 的推荐^^</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>3146485692</string>
				<key>mbrank</key>
				<integer>4</integer>
				<key>mbtype</key>
				<integer>12</integer>
				<key>name</key>
				<string>Mac技术组</string>
				<key>profile_image_url</key>
				<string>http://tp1.sinaimg.cn/3146485692/50/5720861229/1</string>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>0</integer>
			<key>comments_count</key>
			<integer>0</integer>
			<key>created_at</key>
			<string>14分钟前</string>
			<key>idstr</key>
			<string>3829734201260072</string>
			<key>pic_urls</key>
			<array/>
			<key>reposts_count</key>
			<integer>1</integer>
			<key>source</key>
			<string>来自微博 weibo.com</string>
			<key>text</key>
			<string>Parsimmon http://t.cn/RAirorn：小而美的语言学类库封装工具包。提供分词、标记词性、词形归并、朴素贝页斯分类、决策树等自然语言分析小工具。P.S. 英语分词效果好于中文，感兴趣的同学可以针对中文做一些优化开发。参考译文 NSHipster - NSLinguistic​Tagger http://t.cn/8s50Ovp #为开源点赞#</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>5167456916</string>
				<key>mbrank</key>
				<integer>0</integer>
				<key>mbtype</key>
				<integer>0</integer>
				<key>name</key>
				<string>SwiftLanguage</string>
				<key>profile_image_url</key>
				<string>http://tp1.sinaimg.cn/5167456916/50/40057948017/1</string>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>3</integer>
			<key>comments_count</key>
			<integer>1</integer>
			<key>created_at</key>
			<string>15分钟前</string>
			<key>idstr</key>
			<string>3829734096320682</string>
			<key>pic_urls</key>
			<array/>
			<key>reposts_count</key>
			<integer>1</integer>
			<key>retweeted_status</key>
			<dict>
				<key>attitudes_count</key>
				<integer>96</integer>
				<key>comments_count</key>
				<integer>24</integer>
				<key>created_at</key>
				<string>7小时前</string>
				<key>idstr</key>
				<string>3829621248238215</string>
				<key>pic_urls</key>
				<array>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww1.sinaimg.cn/thumbnail/74a0e24ejw1eqyz1bef0vj20c86az1kx.jpg</string>
					</dict>
				</array>
				<key>reposts_count</key>
				<integer>192</integer>
				<key>source</key>
				<string>来自电商报</string>
				<key>text</key>
				<string>做电商的八大死法，老板们都来反思一下！</string>
				<key>user</key>
				<dict>
					<key>idstr</key>
					<string>1956700750</string>
					<key>mbrank</key>
					<integer>6</integer>
					<key>mbtype</key>
					<integer>12</integer>
					<key>name</key>
					<string>电商报</string>
					<key>profile_image_url</key>
					<string>http://tp3.sinaimg.cn/1956700750/50/40066500466/1</string>
				</dict>
			</dict>
			<key>source</key>
			<string>来自酷勤网</string>
			<key>text</key>
			<string>做电商的八大死法</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>1630461754</string>
				<key>mbrank</key>
				<integer>6</integer>
				<key>mbtype</key>
				<integer>12</integer>
				<key>name</key>
				<string>IT程序猿</string>
				<key>profile_image_url</key>
				<string>http://tp3.sinaimg.cn/1630461754/50/40066407832/1</string>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>40</integer>
			<key>comments_count</key>
			<integer>45</integer>
			<key>created_at</key>
			<string>19分钟前</string>
			<key>idstr</key>
			<string>3829733060247830</string>
			<key>pic_urls</key>
			<array>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww1.sinaimg.cn/thumbnail/005TTqq4gw1eqzbv78g6jj30sg1ivwm4.jpg</string>
				</dict>
			</array>
			<key>reposts_count</key>
			<integer>117</integer>
			<key>source</key>
			<string>来自微博 weibo.com</string>
			<key>text</key>
			<string>当看到附近的工厂正在排放黑烟时，「良品青年」会选择这么做→_→ http://t.cn/RAiBwf7 带话题#寻找良品青年#，@ 你身边的良品青年，分享 TA 的故事，即有机会各获得魅蓝note 一台！转发微博随机送出 3 个魅蓝note M 码。</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>5406572240</string>
				<key>mbrank</key>
				<integer>0</integer>
				<key>mbtype</key>
				<integer>0</integer>
				<key>name</key>
				<string>魅蓝手机</string>
				<key>profile_image_url</key>
				<string>http://tp1.sinaimg.cn/5406572240/50/5716873867/1</string>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>3</integer>
			<key>comments_count</key>
			<integer>0</integer>
			<key>created_at</key>
			<string>22分钟前</string>
			<key>idstr</key>
			<string>3829732309229317</string>
			<key>pic_urls</key>
			<array/>
			<key>reposts_count</key>
			<integer>10</integer>
			<key>retweeted_status</key>
			<dict>
				<key>attitudes_count</key>
				<integer>7</integer>
				<key>comments_count</key>
				<integer>7</integer>
				<key>created_at</key>
				<string>昨天 09:00</string>
				<key>idstr</key>
				<string>3829279345363255</string>
				<key>pic_urls</key>
				<array>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww3.sinaimg.cn/thumbnail/63918611gw1eqxua12t8mj20gm08c74p.jpg</string>
					</dict>
				</array>
				<key>reposts_count</key>
				<integer>38</integer>
				<key>source</key>
				<string>来自微博 weibo.com</string>
				<key>text</key>
				<string>《关于寻路算法的一些思考（3）：A*算法的实现》剥除代码，A*算法非常简单。算法维护两个集合：OPEN集和CLOSED集。OPEN集包含待检测节点。初始状态，OPEN集仅包含一个元素：开始位置。CLOSED集包含已检测节点。初始状态，CLOSED集为空……全文：http://t.cn/RAMup3e （@丫丫_Cherish 译）</string>
				<key>user</key>
				<dict>
					<key>idstr</key>
					<string>1670481425</string>
					<key>mbrank</key>
					<integer>0</integer>
					<key>mbtype</key>
					<integer>0</integer>
					<key>name</key>
					<string>伯乐在线官方微博</string>
					<key>profile_image_url</key>
					<string>http://tp2.sinaimg.cn/1670481425/50/1286328769/1</string>
				</dict>
			</dict>
			<key>source</key>
			<string>来自微博 weibo.com</string>
			<key>text</key>
			<string>寻路算法系列的第 3 篇。推荐！</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>2093492691</string>
				<key>mbrank</key>
				<integer>1</integer>
				<key>mbtype</key>
				<integer>11</integer>
				<key>name</key>
				<string>程序员的那些事</string>
				<key>profile_image_url</key>
				<string>http://tp4.sinaimg.cn/2093492691/50/40001381213/1</string>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>0</integer>
			<key>comments_count</key>
			<integer>0</integer>
			<key>created_at</key>
			<string>28分钟前</string>
			<key>idstr</key>
			<string>3829730900167169</string>
			<key>pic_urls</key>
			<array>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww4.sinaimg.cn/thumbnail/62eeaba5jw1eqzbg4o7n5g20iw0amb2g.gif</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww1.sinaimg.cn/thumbnail/62eeaba5jw1eqzbg5h3sxj20k00f0acy.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww1.sinaimg.cn/thumbnail/62eeaba5jw1eqzbg6hjp2j20ym0gjdm3.jpg</string>
				</dict>
			</array>
			<key>reposts_count</key>
			<integer>0</integer>
			<key>source</key>
			<string>来自微博 weibo.com</string>
			<key>text</key>
			<string>【PIVOT App：带你穿越历史的旧梦】PIVOT是款基于地理位置的增强现实类app，用户到达某个“pivot”点会收到应用的通知，提示当前所在地能够还原历史景象，然后借助增强现实技术进行地理还原，让你在手机上穿越数十甚至数百年的旧时光，看到该地历史上的重要时刻和重大变迁。详见：http://t.cn/RAiBKec</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>1659808677</string>
				<key>mbrank</key>
				<integer>0</integer>
				<key>mbtype</key>
				<integer>0</integer>
				<key>name</key>
				<string>CocoaChina</string>
				<key>profile_image_url</key>
				<string>http://tp2.sinaimg.cn/1659808677/50/5709622245/1</string>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>2</integer>
			<key>comments_count</key>
			<integer>5</integer>
			<key>created_at</key>
			<string>38分钟前</string>
			<key>idstr</key>
			<string>3829728152760704</string>
			<key>pic_urls</key>
			<array>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww3.sinaimg.cn/thumbnail/7f2fef2fgw1eqzbamarszj20hi0hkjv4.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww2.sinaimg.cn/thumbnail/7f2fef2fgw1eqzban8p6vj20i20b1gnu.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww1.sinaimg.cn/thumbnail/7f2fef2fgw1eqzbaoc797j20h30e7djg.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww3.sinaimg.cn/thumbnail/7f2fef2fgw1eqzbapjb7vj20hb0b50vk.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww3.sinaimg.cn/thumbnail/7f2fef2fgw1eqzbaqcdegj208d0bst9x.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww1.sinaimg.cn/thumbnail/7f2fef2fgw1eqzbarykrqj20hk09u43b.jpg</string>
				</dict>
			</array>
			<key>reposts_count</key>
			<integer>1</integer>
			<key>source</key>
			<string>来自搜狗高速浏览器</string>
			<key>text</key>
			<string>【他将接受头！颅！移！植！手术！】30岁男子Valery Spiridonov，是俄罗斯的电脑工程师。他说，自己将接受一场关乎生命的手术：更换头颅！据悉，手术将在明年进行，他将成为第一个更换头颅的人。主治医师称，他能够把Valery Spiridonov的脑袋切下来换到一个健康的身体上。是不是觉得很匪夷所思？[衰]</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>2133847855</string>
				<key>mbrank</key>
				<integer>0</integer>
				<key>mbtype</key>
				<integer>0</integer>
				<key>name</key>
				<string>黑马程序员训练营</string>
				<key>profile_image_url</key>
				<string>http://tp4.sinaimg.cn/2133847855/50/5709517773/1</string>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>2</integer>
			<key>comments_count</key>
			<integer>0</integer>
			<key>created_at</key>
			<string>40分钟前</string>
			<key>idstr</key>
			<string>3829727804299753</string>
			<key>pic_urls</key>
			<array/>
			<key>reposts_count</key>
			<integer>4</integer>
			<key>retweeted_status</key>
			<dict>
				<key>attitudes_count</key>
				<integer>35</integer>
				<key>comments_count</key>
				<integer>20</integer>
				<key>created_at</key>
				<string>6小时前</string>
				<key>idstr</key>
				<string>3829634447859085</string>
				<key>pic_urls</key>
				<array>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww3.sinaimg.cn/thumbnail/91452c91jw1eqz0jvpsa5j20c82e0k3n.jpg</string>
					</dict>
				</array>
				<key>reposts_count</key>
				<integer>96</integer>
				<key>source</key>
				<string>来自中国电商行业网</string>
				<key>text</key>
				<string>淘宝对于虚假交易的12项判定规则 </string>
				<key>user</key>
				<dict>
					<key>idstr</key>
					<string>2437229713</string>
					<key>mbrank</key>
					<integer>6</integer>
					<key>mbtype</key>
					<integer>12</integer>
					<key>name</key>
					<string>电商行业</string>
					<key>profile_image_url</key>
					<string>http://tp2.sinaimg.cn/2437229713/50/40037717477/1</string>
				</dict>
			</dict>
			<key>source</key>
			<string>来自酷勤网</string>
			<key>text</key>
			<string>淘宝对于虚假交易的12项判定规则</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>1630461754</string>
				<key>mbrank</key>
				<integer>6</integer>
				<key>mbtype</key>
				<integer>12</integer>
				<key>name</key>
				<string>IT程序猿</string>
				<key>profile_image_url</key>
				<string>http://tp3.sinaimg.cn/1630461754/50/40066407832/1</string>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>23</integer>
			<key>comments_count</key>
			<integer>40</integer>
			<key>created_at</key>
			<string>46分钟前</string>
			<key>idstr</key>
			<string>3829726341215222</string>
			<key>pic_urls</key>
			<array/>
			<key>reposts_count</key>
			<integer>69</integer>
			<key>source</key>
			<string>来自iPhone 6 Plus</string>
			<key>text</key>
			<string>中国功夫[good] http://t.cn/RAi1oAi</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>2130406283</string>
				<key>mbrank</key>
				<integer>1</integer>
				<key>mbtype</key>
				<integer>2</integer>
				<key>name</key>
				<string>爱微拍</string>
				<key>profile_image_url</key>
				<string>http://tp4.sinaimg.cn/2130406283/50/5711379953/0</string>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>4</integer>
			<key>comments_count</key>
			<integer>2</integer>
			<key>created_at</key>
			<string>48分钟前</string>
			<key>idstr</key>
			<string>3829725833268430</string>
			<key>pic_urls</key>
			<array>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww3.sinaimg.cn/thumbnail/bb8b8fbcjw1eqzb1gd57lj20ug0t97hh.jpg</string>
				</dict>
			</array>
			<key>reposts_count</key>
			<integer>3</integer>
			<key>source</key>
			<string>来自微博 weibo.com</string>
			<key>text</key>
			<string>这队友是几个意思？ iPhone 6S、 iPhone 6C、 iPhone 6S Plus、 iPad Pro 🌚http://t.cn/RAi1MKt</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>3146485692</string>
				<key>mbrank</key>
				<integer>4</integer>
				<key>mbtype</key>
				<integer>12</integer>
				<key>name</key>
				<string>Mac技术组</string>
				<key>profile_image_url</key>
				<string>http://tp1.sinaimg.cn/3146485692/50/5720861229/1</string>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>22</integer>
			<key>comments_count</key>
			<integer>16</integer>
			<key>created_at</key>
			<string>51分钟前</string>
			<key>idstr</key>
			<string>3829724910575982</string>
			<key>pic_urls</key>
			<array>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww4.sinaimg.cn/thumbnail/59183920gw1eqzaxtgspwj20px0e2acy.jpg</string>
				</dict>
			</array>
			<key>reposts_count</key>
			<integer>37</integer>
			<key>source</key>
			<string>来自微博 weibo.com</string>
			<key>text</key>
			<string>免费玩PS4的方法：先去香港购买一个港行的PS4，然后上淘宝开店，提供国行PS4代注册提供备份数据服务，一个10元，这样出售200个后PS4就回本了，出售更多的话就开始用PS4赚钱了。</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>1494759712</string>
				<key>mbrank</key>
				<integer>3</integer>
				<key>mbtype</key>
				<integer>11</integer>
				<key>name</key>
				<string>月光博客</string>
				<key>profile_image_url</key>
				<string>http://tp1.sinaimg.cn/1494759712/50/1294220107/1</string>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>10</integer>
			<key>comments_count</key>
			<integer>7</integer>
			<key>created_at</key>
			<string>53分钟前</string>
			<key>idstr</key>
			<string>3829724416022285</string>
			<key>pic_urls</key>
			<array/>
			<key>reposts_count</key>
			<integer>26</integer>
			<key>source</key>
			<string>来自酷勤网</string>
			<key>text</key>
			<string>面对生活中遇到的困境，就要像他一样永不放弃！http://t.cn/RAJIIM4</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>1630461754</string>
				<key>mbrank</key>
				<integer>6</integer>
				<key>mbtype</key>
				<integer>12</integer>
				<key>name</key>
				<string>IT程序猿</string>
				<key>profile_image_url</key>
				<string>http://tp3.sinaimg.cn/1630461754/50/40066407832/1</string>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>4</integer>
			<key>comments_count</key>
			<integer>2</integer>
			<key>created_at</key>
			<string>1小时前</string>
			<key>idstr</key>
			<string>3829720951415051</string>
			<key>pic_urls</key>
			<array/>
			<key>reposts_count</key>
			<integer>11</integer>
			<key>source</key>
			<string>来自IT技术博客大学习</string>
			<key>text</key>
			<string>【C++11 中值得关注的几大变化（详解）】 源文章来自前C++标准委员会的 Danny Kalev 的 The Biggest Changes in C++11 (and Why You Should Care)，赖勇浩做了一个... 详见：http://t.cn/zjWJKyL</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>1646218964</string>
				<key>mbrank</key>
				<integer>3</integer>
				<key>mbtype</key>
				<integer>12</integer>
				<key>name</key>
				<string>IT技术博客大学习</string>
				<key>profile_image_url</key>
				<string>http://tp1.sinaimg.cn/1646218964/50/1279883225/1</string>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>10</integer>
			<key>comments_count</key>
			<integer>14</integer>
			<key>created_at</key>
			<string>1小时前</string>
			<key>idstr</key>
			<string>3829720376546485</string>
			<key>pic_urls</key>
			<array>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww3.sinaimg.cn/thumbnail/59183920gw1eqzaf4ggrtj20a40hzwf0.jpg</string>
				</dict>
			</array>
			<key>reposts_count</key>
			<integer>12</integer>
			<key>source</key>
			<string>来自微博 weibo.com</string>
			<key>text</key>
			<string>苹果公司还发布了iOS 8.3系统更新，给iOS用户带来了300多个新的表情符号以及输入这些符号的新键盘，用户可以选择无需输入密码即允许免费应用下载，还可设置过滤选项将来自未知发件人的信息与主信息列表分离开来。</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>1494759712</string>
				<key>mbrank</key>
				<integer>3</integer>
				<key>mbtype</key>
				<integer>11</integer>
				<key>name</key>
				<string>月光博客</string>
				<key>profile_image_url</key>
				<string>http://tp1.sinaimg.cn/1494759712/50/1294220107/1</string>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>3</integer>
			<key>comments_count</key>
			<integer>0</integer>
			<key>created_at</key>
			<string>1小时前</string>
			<key>idstr</key>
			<string>3829717285678957</string>
			<key>pic_urls</key>
			<array>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww4.sinaimg.cn/thumbnail/c5131475jw1eqza2chn77g20dw07njrs.gif</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww3.sinaimg.cn/thumbnail/c5131475jw1eqza2dvvg1j20dw099t8u.jpg</string>
				</dict>
			</array>
			<key>reposts_count</key>
			<integer>4</integer>
			<key>source</key>
			<string>来自vivo_X5Max</string>
			<key>text</key>
			<string>#IT技术分享#【Sideout.JS 轻量级侧边栏jQuery插件】在兼容移动手机的网站中，它的导航设计一般使用了侧边栏方式，就像某些APP应用一样，导航从侧边滑出。今天和大家分享一个轻量的侧边栏jQuery插件——Sideout.JS，该插件支持桌面平台、平台以及手机端，并且大小仅4KB。全文：http://t.cn/RAiuyji</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>3306361973</string>
				<key>mbrank</key>
				<integer>0</integer>
				<key>mbtype</key>
				<integer>0</integer>
				<key>name</key>
				<string>慕课网</string>
				<key>profile_image_url</key>
				<string>http://tp2.sinaimg.cn/3306361973/50/22875318196/0</string>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>3</integer>
			<key>comments_count</key>
			<integer>1</integer>
			<key>created_at</key>
			<string>1小时前</string>
			<key>idstr</key>
			<string>3829717252081301</string>
			<key>pic_urls</key>
			<array>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww1.sinaimg.cn/thumbnail/a1ab8e59jw1eqza28g2ukj20c83e6ndh.jpg</string>
				</dict>
			</array>
			<key>reposts_count</key>
			<integer>13</integer>
			<key>source</key>
			<string>来自酷勤网</string>
			<key>text</key>
			<string>《每个Android开发者都应该了解的资源列表》Android平台持续疯狂地增长，越来越多的开发者进入了Android开发者阵营，如果你在2013年才开始做Android开发，你将是一个幸运的人。http://t.cn/RAU6bkq（来自： 张明云的博客 ）</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>2712374873</string>
				<key>mbrank</key>
				<integer>5</integer>
				<key>mbtype</key>
				<integer>12</integer>
				<key>name</key>
				<string>酷勤网-程序员的那点事</string>
				<key>profile_image_url</key>
				<string>http://tp2.sinaimg.cn/2712374873/50/5673007852/1</string>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>0</integer>
			<key>comments_count</key>
			<integer>2</integer>
			<key>created_at</key>
			<string>1小时前</string>
			<key>idstr</key>
			<string>3829715179997568</string>
			<key>pic_urls</key>
			<array/>
			<key>reposts_count</key>
			<integer>0</integer>
			<key>source</key>
			<string>来自微博 weibo.com</string>
			<key>text</key>
			<string>生成app icon的各个尺寸的一段小脚本 http://t.cn/RAimWWM</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>2450989687</string>
				<key>mbrank</key>
				<integer>0</integer>
				<key>mbtype</key>
				<integer>0</integer>
				<key>name</key>
				<string>移动开发小冉</string>
				<key>profile_image_url</key>
				<string>http://tp4.sinaimg.cn/2450989687/50/40000357052/1</string>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>2</integer>
			<key>comments_count</key>
			<integer>2</integer>
			<key>created_at</key>
			<string>1小时前</string>
			<key>idstr</key>
			<string>3829712411836572</string>
			<key>pic_urls</key>
			<array>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww2.sinaimg.cn/thumbnail/68212547gw1eqz9i413omj20ci0hmdjn.jpg</string>
				</dict>
			</array>
			<key>reposts_count</key>
			<integer>0</integer>
			<key>source</key>
			<string>来自微博 weibo.com</string>
			<key>text</key>
			<string>新的模拟器 ⌘5 之后很迷你。</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>1747002695</string>
				<key>mbrank</key>
				<integer>0</integer>
				<key>mbtype</key>
				<integer>0</integer>
				<key>name</key>
				<string>汤圣罡</string>
				<key>profile_image_url</key>
				<string>http://tp4.sinaimg.cn/1747002695/50/5715698253/1</string>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>5</integer>
			<key>comments_count</key>
			<integer>2</integer>
			<key>created_at</key>
			<string>2小时前</string>
			<key>idstr</key>
			<string>3829705859981788</string>
			<key>pic_urls</key>
			<array>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww2.sinaimg.cn/thumbnail/621f4ed4jw1eqz8r5gb9tj20d808dt95.jpg</string>
				</dict>
			</array>
			<key>reposts_count</key>
			<integer>8</integer>
			<key>source</key>
			<string>来自IT技术博客大学习</string>
			<key>text</key>
			<string>【Web设计师能从游戏中学到些什么】 译者序：一直以来我都想写一篇关于游戏与交互设计之间关系的文章，因为我坚信好的设计和游戏一样有魔力，都能为用户带来乐趣。这可能跟我之前在游戏公司任职过有关，潜移默化地受到感染和... ... 详见：http://t.cn/z8SKwL0</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>1646218964</string>
				<key>mbrank</key>
				<integer>3</integer>
				<key>mbtype</key>
				<integer>12</integer>
				<key>name</key>
				<string>IT技术博客大学习</string>
				<key>profile_image_url</key>
				<string>http://tp1.sinaimg.cn/1646218964/50/1279883225/1</string>
			</dict>
		</dict>
	</array>
	<key>total_number</key>
	<integer>150</integer>
</dict>
</plist>
